body {

    font-family: Arial. sans-serif;
    color: #333333;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;  
    line-height: 1.6;
}  
 header {
    background-color:#2c3e50;
    color: rgb(255, 255, 255)
    padding: 20px;
    text-align: center;

}
.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.nav-item {
    margin: 0 15px;
}
 header h1 {
    margin: o;
 }
 nav a {
    color: white
    text-decoration: none;
    margin: 0 10px;
 }
 
 nav a:hover {
    text-decoration: underline;
 }
main {
    padding: 20px;
    width: 100%;
    margin: 0 ;
}
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

gallery-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

custom-btn {
    background-color: #2c3e50;
    color: #7c0b0b !important;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    
}

custom-btn:hover {
    background-color: #1a252f;
    color: #7c0b0b!important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 50px;
}
p {
    font-size: 1.4em;
}
a {
    color: #ecf2f3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 5px solid #f1f7fa;
    border-radius: 10px;
}
main a[href="malito:"] {
    color:#61100b;
    font-weight: bold;
}
 table{
    border-collapse: Black;
    width:100%;
 }
 th, td{
    text-align: center;
    padding: 12px;
    border:1px solid #0e0d0dea;
 }
 th{
    background-color: #3f4766;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.9em;
 }
 tr;nth-child(even){background-color: #9a7070;
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #687992;
            font-family: 'Segoe UI', Roboto, sans-serif;
        }
        form {
            max-width: 100%;
            width: 500px;
            background-color: #90a9b87c;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 10 30px rgba(0, 0, 0, 0.1);
        }
        fieldset {
            border: 1px solid rgb(90, 67, 85);
            padding: 0px;
            margin: 0;
        }
        legend {
            font-weight: bold;
            margin-bottom: 10px;
        }
        label {
            display: block;
            margin-bottom: 15px;
            font-size: 14px;
            color: #14182c
            font-weight: 500;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        input[type="date"] {
            width: calc(100% - 20px);
            padding: 12px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        .IamInterested-group{
            margin-bottom: 10px;
        }
        .IamInterested-group label {
            display: inline-block;
            margin-left: 10px;
        }
        input[type="radio"] {
            margin-left: 10px;
            vertical-align: middle;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            opacity: 0.9;
            transform: translate(-1px);
        }
    </style>
