body {

    font-family: Arial. sans-serif;
    color: #333333;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;  
    line-height 1.6;
}  
 header {
    background-color:#2c3e50;
    color: rgb(255, 255, 255)
    padding: 20px;
    text-align: center;

}
.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.nav-item {
    margin: 0 15px;
}
 header h1 {
    margin: o;
 }
 nav a {
    color: white
    text-decoration: none;
    margin: 0 10px;
 }
 
 nav a:hover {
    text-decoration: underline;
 }
main {
    padding: 20px;
    width: 100%;
    margin: 0 ;
}
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

gallery-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

custom-btn {
    background-color: #2c3e50;
    color: #7c0b0b !important;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    
}

custom-btn:hover {
    background-color: #1a252f;
    color: #7c0b0b!important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 50px;
}
p {
    font-size: 1.4em;
}
a {
    color: #ecf2f3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 5px solid #f1f7fa;
    border-radius: 10px;
}
main a[href="malito:"] {
    color:#61100b;
    font-weight: bold;
}

